body {
    color:#fff;
    background-color: #292929;
}

.logo {
    margin-bottom: 1.5rem;
}

ul, li {
    list-style:none;
    line-height: 2rem;
    padding: 0;
}

.list-attente ul li {
    background-color: #269a5a;
    border-radius: 0.3rem;
    margin-bottom:1rem;
}

.list-attente ul li:last-child {
    background-color: #ec8817;
}

.plateau {
    position: relative;
    margin: 10px auto;
    border: 2px solid #5fccc1;
}

.plateau-infor p {
    margin:0;
}

@media screen and (min-width: 200px) and (max-width: 640px) {

     .logo img {
        max-width: 70%;
     }



}
